<html>
  <head>
    <title>Yi Ceramics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="home.js"></script>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/home2.css">
  </head>
  <body ng-app="yiceramics" ng-controller="MainCtrl">
    <div class=sidecol>
        <div>
            <img id="logo" src="app/assets/images/yiceramics.png" alt="yiceramics logo"/>
        </div>
        <div class="navtext">
            <ul ng-repeat= "nav in toc">
                <li>{{nav}}</li>
            </ul>
        </div>
    </div>
    <div class="carousel" ng-repeat="pic in photos">
      <img ng-src="app/assets/images/{{pic.imageUrl}}" alt="{{pic.name}}" />
    </div>
  </body>
</html>