<div class="container">
    <h1>Gallery</h1>

<h2>La La Land</h2>
<div ng-controller="GalleryCtrl">
    <ng-image-gallery images="playful_images" methods="methods"></ng-image-gallery>
</div>

<h2>Down to Earth</h2>
<div ng-controller="GalleryCtrl">
    <ng-image-gallery images="serious_images" methods="methods"></ng-image-gallery>
</div>

</div>

