<div ng-app="shop" ng-controller="ShopCtrl"class="container">
    <h1>Shop</h1>
    <div class="row">
        <div class="col-md-8">
            <h3>Products</h3>
        </div>
        <div class="col-md-4">
            <h4>Cart: {{count}} </h4>
        </div>
        
    </div>
    
    <div ng-repeat="product in inventory" class="col-md-3 panel">
        <img ng-src="{{product.image.thumb.url}}"/>
        <h3>{{ product.name }}</h3>
        <p>{{ product.details }}</p>
        <p>Size: {{ size }}</p>
        <p>Clay type: {{ product.clay_type }}</p>
        <p>Firing: {{ product.fire_type }}</p>
        <button class="btn btn-primary" ng-click="addCart()"> {{ cart_message }}</button>
    </div>
</div>