<div ng-controller="ShopCtrl"class="container">
    <h1>Shop</h1>
    <div class="row">
        <div class="col-md-8">
            <h3>Products</h3>
        </div>
        <div class="col-md-4">
            <h4>Cart: {{cart.getTotalCount()}} </h4>
            <%= link_to "see cart", cart_path %>
        </div>
        
    </div>
    
    <div ng-repeat="product in inventory" class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="works/{{product.id}}">
            <div class="thumbnail-imgframe" style="{{getImageUrl(product)}}" ng-attr-title="{{product.name || undefined}}">
                
            </div>
            </a>
            <div class="caption">
               <h3>{{product.name}}</h3> 
               <p>{{ product.price | currency }}</p>
               <!--<p><button class="btn btn-primary"  ng-click="addItem(product)"</button>Add to Cart</button>-->
               <!--<button class="btn btn-secondary"  ng-click="removeItem(product)"</button>Remove from Cart</button>-->
               </p>
            </div>
            
        </div>
        
        
    </div>
</div>