<div class="container">
    <h1>News</h1>
    <%= link_to "Add New Post", new_admin_post_path, class: "btn btn-primary" %>
    <table class="table">
        <tr>
           <th>Name</th>
            <th>Edit</th> 
            <th>Delete</th>
        </tr>
        
        <% for article in @posts %>
        <tr>
            <td><%= link_to article.title, admin_post_path(article) %></td>
            <td><%= link_to "Edit", edit_admin_post_path(article.id) %></td>
            <td><%= link_to "Delete", admin_post_path(article), :method => "delete" %></td>
        </tr>
        
        <% end %>
    </table>
    
</div>