
<div ng-controller="CartCtrl" class="container">
    <h1>Your Cart</h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Items</h3>
            <div ng-repeat="item in cart.items" class="panel">
                <img ng-src="{{item.imageURL}}"/>
                <h3>{{ item.name }}</h3>
                <p>Price: {{ item.price * item.quantity | currency }}</p>
                <p>Quantity: {{ item.quantity }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Subtotal: {{ cart.totalPrice | currency }}</h3>
        </div>
    </div>
</div>