img {
    width: 80%;
    float: right;
}

.sidecol {
    width: 18%;
    float: left;
    margin: 30px;
}

#logo {
    width: 40%;
    float: left;
    
}

h1 {
    font-size: 60px;
    font-family: Open Sans;
    text-align: left;
}

ul {
    list-style-type:none;
    margin: 0 auto;
}

li {
    font-size: 54px;
    font-family: Open Sans;
    font-weight: 300;
    padding: 5px;
}

li:hover {
    background-color: #61142A;
    color: #fff;
}

.navtext {
    clear: left;
}
