.sidecol {
    margin: 30px;
}

#logo {
    height: 10%;
    float: left;
    padding-bottom: 20px;
}

h1 {
    font-size: 60px;
    font-family: Open Sans;
    text-align: left;
}

span {
    font-family: Open Sans;
    font-size: 60px;
}

ul {
    list-style-type:none;
    float: right;
}

li {
    font-size: 54px;
    font-family: Open Sans;
    font-weight: 300;
    padding: 30px;
}

li:hover {
    background-color: #61142A;
    color: #fff;
}

.carousel {
    clear: both;
    width: 100%;
    margin: 30px;
}
