// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail-imgframe {
  position: relative;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}